<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2>管理者Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group form-group-lg"> <!-- form-group-lgに変更 -->
          <%= f.label :email ,"メールアドレス"%><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group form-group-lg"> <!-- form-group-lgに変更 -->
          <%= f.label :password,"パスワード"%><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group form-group-lg"> <!-- form-group-lgに変更 -->
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="form-actions">
          <%= f.submit "Log in", class: "btn btn-lg btn-primary" %> <!-- btn-lgに変更 -->
        </div>
      <% end %>

      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>