<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">


<h2>ゼーゲル式から材料の調合割合を求めます。</h2>
     <% flash.each do |key, message| %>
      <div class="alert alert-danger font-weight-bold">
        <%= message %>
      </div>
        <% end %>
     
      <p>ゼーゲル式を入力してください。</p>

<%= form_tag(calculate_path) do %>
 <table class="table table-striped table-hover">
  <tr>
    <th style="text-align: right;"><%= label_tag :kano, "KNaO" %></th>
    <td><%= text_field_tag :kano %></td>
  </tr>
  <tr>
    <th style="text-align: right;"><%= label_tag :li2o, "Li2O" %></th>
    <td><%= text_field_tag :li2o %></td>
  </tr>
  <tr>
    <th style="text-align: right;"><%= label_tag :mgo, "MgO" %></th>
    <td><%= text_field_tag :mgo %></td>
  </tr>
  <tr>
    <th style="text-align: right;"><%= label_tag :cao, "CaO" %></th>
    <td><%= text_field_tag :cao %></td>
  </tr>
  <tr>
    <th style="text-align: right;"><%= label_tag :sro, "SrO" %></th>
    <td><%= text_field_tag :sro %></td>
  </tr>
  <tr>
    <th style="text-align: right;"><%= label_tag :bao, "BaO" %></th>
    <td><%= text_field_tag :bao %></td>
  </tr>
  <tr>
    <th style="text-align: right;"><%= label_tag :zno, "ZnO" %></th>
    <td><%= text_field_tag :zno %></td>
  </tr>
  <tr class="table-active">
  <th style="text-align: right;"><%= label_tag :al2o3, "Al2O3" %></th>
  <td><%= text_field_tag :al2o3 %></td>
</tr>
<tr class="table-active">
  <th style="text-align: right;"><%= label_tag :sio2, "SiO2" %></th>
  <td><%= text_field_tag :sio2 %></td>
</tr>
  <tr>
    <th style="text-align: right;"><%= label_tag :amount, "調合量（g）" %></th>
    <td><%= text_field_tag :amount %></td>
  </tr>
</table>
 <div style="text-align: center;">
    <%= submit_tag "計算する", class: "btn btn-info" %>
  </div>
<% end %>

<table class="table table-info table-striped table-hover">
  <% if @total %>
    <tr>
      <th style="text-align: right;">調合量</th>
      <td style="text-align: right;"><%= sprintf("%.1f", @total) %>(g)</td>
    </tr>
  <% end %>

  <% if @fukushimafeldspar %>
    <tr>
      <th style="text-align: right;">長石</th>
      <td style="text-align: right;"><%= sprintf("%.1f", @fukushimafeldspar) %>(g)</td>
    </tr>
  <% end %>

  <% if @lithiumcarbonate %>
    <tr>
      <th style="text-align: right;">炭酸リチウム</th>
      <td style="text-align: right;"><%= sprintf("%.1f", @lithiumcarbonate) %>(g)</td>
    </tr>
  <% end %>

  <% if @magnesite %>
    <tr>
      <th style="text-align: right;">マグネサイト</th>
      <td style="text-align: right;"><%= sprintf("%.1f", @magnesite) %>(g)</td>
    </tr>
  <% end %>

  <% if @whitelimestone %>
    <tr>
      <th style="text-align: right;">白石石灰</th>
      <td style="text-align: right;"><%= sprintf("%.1f", @whitelimestone) %>(g)</td>
    </tr>
  <% end %>

  <% if @strontiumcarbonate %>
    <tr>
      <th style="text-align: right;">炭酸ストロンチウム</th>
      <td style="text-align: right;"><%= sprintf("%.1f", @strontiumcarbonate) %>(g)</td>
    </tr>
  <% end %>

  <% if @bariumcarbonate %>
    <tr>
      <th style="text-align: right;">炭酸バリウム</th>
      <td style="text-align: right;"><%= sprintf("%.1f", @bariumcarbonate) %>(g)</td>
    </tr>
  <% end %>

  <% if  @zincoxide %>
    <tr>
      <th style="text-align: right;">亜鉛華</th>
      <td style="text-align: right;"><%= sprintf("%.1f", @zincoxide) %>(g)</td>
    </tr>
  <% end %>

  <% if @kaolin %>
    <tr>
      <th style="text-align: right;">韓国カオリン</th>
      <td style="text-align: right;"><%= sprintf("%.1f", @kaolin) %>(g)</td>
    </tr>
  <% end %>

  <% if @fukushimasilica %>
    <tr>
      <th style="text-align: right;">福島珪石</th>
      <td style="text-align: right;"><%= sprintf("%.1f", @fukushimasilica) %>(g)</td>
    </tr>
  <% end %>
</table>
 <div style="text-align: center;">
        <% if @total %>
          <%= link_to "保存する", new_calculation_url, class: "btn btn-info" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

