<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>
<h3>ここに計算機能を作る</h3>

<%= form_tag(calculate_path) do %>
  <%= label_tag :kano, "kanoの値を入力してください：" %>
  <%= text_field_tag :kano %>

  <%= label_tag :li2o, "li2oの値を入力してください：" %>
  <%= text_field_tag :li2o %>

  <%= label_tag :mgo, "mgoの値を入力してください：" %>
  <%= text_field_tag :mgo %>

  <%= label_tag :cao, "caoの値を入力してください：" %>
  <%= text_field_tag :cao %>

  <%= label_tag :sro, "sroの値を入力してください：" %>
  <%= text_field_tag :sro %>

  <%= label_tag :bao, "baoの値を入力してください：" %>
  <%= text_field_tag :bao %>

  <%= label_tag :zno, "znoの値を入力してください：" %>
  <%= text_field_tag :zno %>

  <%= label_tag :al2o3, "al2o3の値を入力してください：" %>
  <%= text_field_tag :al2o3 %>

  <%= label_tag :sio2, "sio2の値を入力してください：" %>
  <%= text_field_tag :sio2 %>

  <%= label_tag :amount, "何g調合にしますか：" %>
  <%= text_field_tag :amount %>



  

  <%= submit_tag "計算する" %>
<% end %>

<% if @total %>
  <p>合計の計算結果： <%= @total %></p>
<% end %>

<% if @fukushimafeldspar %>
  <p>福島長石の計算結果： <%= @fukushimafeldspar %></p>
<% end %>

<% if @lithiumcarbonate %>
  <p>炭酸リチウムの計算結果： <%= @lithiumcarbonate %></p>
<% end %>

<% if @magnesite %>
  <p>マグネサイト</p>の計算結果： <%= @magnesite %></p>
<% end %>

<% if @whitelimestone %>
  <p>白石石灰の計算結果： <%= @whitelimestone %></p>
<% end %>

<% if @strontiumcarbonate %>
  <p>炭酸ストロンチウムの計算結果： <%= @strontiumcarbonate %></p>
<% end %>

<% if @bariumcarbonate %>
  <p>炭酸バリウムの計算結果： <%= @bao_result %></p>
<% end %>

<% if  @zincoxide %>
  <p>亜鉛華の計算結果： <%=  @zincoxide %></p>
<% end %>

<% if @kaolin %>
  <p>韓国カオリンの計算結果： <%= @kaolin %></p>
<% end %>

<% if @fukushimasilica %>
  <p>福島珪石の計算結果： <%= @fukushimasilica %></p>
<% end %>

<!-- 他の計算結果についても同様に表示 -->