<h1>Public::Calculations#index</h1>
<p>Find me in app/views/public/calculations/index.html.erb</p>

<%= form_tag search_calculations_path, method: :get do %>
  <%= text_field_tag :keyword, params[:keyword] %>
  <%= submit_tag '検索' %>
<% end %>


<% @calculations.each do |calculation| %>
  <h3><%= link_to calculation.title ,calculation  %></h3>
  <h4><%= calculation.subtitle %></h4>
  <p><%= link_to calculation.user.name , user_path(calculation.user) %></p>
<% end %>