<h1>Public::Calculations#new</h1>
<p>Find me in app/views/public/calculations/new.html.erb</p>


<p>合計の計算結果：<%= @amount %></p>

<p> 福島長石：<%= @fukushimafeldspar %></p>
<p>炭酸リチウム：<%= @lithiumcarbonate %></p>
<p>マグネサイト：<%= @magnesite %></p>
<p>白石灰石：<%= @whitelimestone %></p>
<p>炭酸ｽﾄﾛﾝﾁｳﾑ：<%= @strontiumcarbonate %></p>
<p> 炭酸バリウム：<%= @bariumcarbonate %></p>
<p>亜鉛華：<%= @zincoxide %></p>
<p>韓国カオリン：<%= @kaolin %></p>
<p>福島珪石：<%= @fukushimasilica %></p>


<p>焼成温度</p>
<p>メモ</p>
<p>タグ</p>
<p>焼成日</p>