<h1>Public::Calculations#new</h1>
<p>Find me in app/views/public/calculations/new.html.erb</p>

<h1>投稿（保存）ページ</h1>
<%= flash.now[:error] %>

  <%= form_with(model: @calculation, url: calculations_path) do |f| %>
     <p>合計の計算結果: <%= @amount %></p>
     <p>福島長石: <%= @fukushimafeldspar %></p>
     <p>炭酸リチウム: <%= @lithiumcarbonate %></p>
     <p>マグネサイト: <%= @magnesite %></p>
     <p>白石灰石: <%= @whitelimestone %></p>
     <p>炭酸ストロンチウム: <%= @strontiumcarbonate %></p>
     <p>炭酸バリウム: <%= @bariumcarbonate %></p>
     <p>亜鉛華: <%= @zincoxide %></p>
     <p>韓国カオリン: <%= @kaolin %></p>
     <p>福島珪石: <%= @fukushimasilica %></p>

     <%= f.radio_button :release_status, "private" %>
     <%= f.label :release_status_private, "非公開" %>
     <%= f.radio_button :release_status, "public" %>
     <%= f.label :release_status_public, "公開" %>
     <%= f.submit "投稿" %>
     <% end %>

<p>焼成温度</p>
<p>メモ</p>
<p>タグ</p>
<p>焼成日</p>

