<h1>Public::Calculations#show</h1>
<p>Find me in app/views/public/calculations/show.html.erb</p>

<p>福島長石: <%= @calculation.fukushimafeldspar %></p>
<p>炭酸リチウム: <%= @calculation.lithiumcarbonate %></p>
<p>マグネサイト: <%= @calculation.magnesite %></p>

<p>白石石灰: <%= @calculation.whitelimestone %></p>
<p>炭酸ストロンチウム: <%= @calculation.strontiumcarbonate %></p>
<p>炭酸バリウム: <%= @calculation.bariumcarbonate %></p>
<p>亜鉛華: <%= @calculation.zincoxide %></p>
<p>カオリン: <%= @calculation.kaolin %></p>
<p>福島珪石: <%= @calculation.fukushimasilica %></p>


<p>公開ステータス: <%= @calculation.release_status %></p>
