<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">

<h3 style="background-color: #17a2b8; color: white; font-weight: bold; padding: 5px;"><%= @calculation.title %></h3>

<% if @calculation.user == current_user %>
<%= link_to "編集", edit_calculation_path(@calculation.id), class: "btn btn-primary editbtn float-right" %>
<%= link_to "削除", calculation_path(@calculation.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger destroybtn float-right" %>
<% end %>

<table class="table table-striped table-hover">
  <tr>
    <th style="text-align: right; width: 40%;">タイトル</th>
    <td class="text-center"><%= @calculation.title %></td>
  </tr>
  <tr>
    <th style="text-align: right;">サブタイトル</th>
    <td class="text-right"><%= @calculation.subtitle %></td>
  </tr>
  <tr>
    <th style="text-align: right;">福島長石</th>
    <td class="text-center"><%= number_with_precision(@calculation.fukushimafeldspar, precision: 1) %></td>
  </tr>
  <tr>
    <th style="text-align: right;">炭酸リチウム</th>
    <td class="text-center"><%= number_with_precision(@calculation.lithiumcarbonate, precision: 1) %></td>
  </tr>
  <tr>
    <th style="text-align: right;">マグネサイト</th>
    <td class="text-center"><%= number_with_precision(@calculation.magnesite, precision: 1) %></td>
  </tr>
  <tr>
    <th style="text-align: right;">白石石灰</th>
    <td class="text-center"><%= number_with_precision(@calculation.whitelimestone, precision: 1) %></td>
  </tr>
  <tr>
    <th style="text-align: right;">炭酸ストロンチウム</th>
    <td class="text-center"><%= number_with_precision(@calculation.strontiumcarbonate, precision: 1) %></td>
  </tr>
  <tr>
    <th style="text-align: right;">炭酸バリウム</th>
    <td class="text-center"><%= number_with_precision(@calculation.bariumcarbonate, precision: 1) %></td>
  </tr>
  <tr>
    <th style="text-align: right;">亜鉛華</th>
    <td class="text-center"><%= number_with_precision(@calculation.zincoxide, precision: 1) %></td>
  </tr>
  <tr>
    <th style="text-align: right;">カオリン</th>
    <td class="text-center"><%= number_with_precision(@calculation.kaolin, precision: 1) %></td>
  </tr>
  <tr>
    <th style="text-align: right;">福島珪石</th>
    <td class="text-center"><%= number_with_precision(@calculation.fukushimasilica, precision: 1) %></td>
  </tr>

  <% (1..5).each do |i| %>
    <% additive_column = "additive#{i}" %>
    <% additive_amount = "additive#{i}_amount" %>
    <% if @calculation.send(additive_column).present? %>
      <tr>
        <th style="text-align: right;"><%= @calculation.send(additive_column) %></th>
        <td class="text-center"><%= number_with_precision(@calculation.send(additive_amount), precision: 1) %></td>
      </tr>
    <% end %>
  <% end %>

  <tr>
    <th style="text-align: right;">画像</th>
    <td class="text-center"><%= @calculation.image %></td>
  </tr>
  <tr>
    <th style="text-align: right;">メモ</th>
    <td class="text-center"><%= @calculation.memo %></td>
  </tr>
  <tr>
    <th style="text-align: right;">焼成温度</th>
    <td class="text-center"><%= @calculation.temperature %>度</td>
  </tr>
  <tr>
    <th style="text-align: right;">焼成日時</th>
    <td class="text-center"><%= @calculation.burning_date %></td>
  </tr>
  <tr>
    <th style="text-align: right;">タグ</th>
    <td class="text-center">
      <% @tags.each do |tag| %>
        <%= tag.tag_name %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th style="text-align: right;">公開ステータス</th>
    <td class="text-center"><%= t("activerecord.enums.calculation.release_status.#{@calculation.release_status}") %></td>
  </tr>
  <tr>
    <th style="text-align: right;">投稿者</th>
    <td class="text-center"><%= link_to @calculation.user.name, user_path(@calculation.user) %></td>
  </tr>
</table>

<% if @calculation.favorited?(current_user) %>
  <!--一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
  <%= link_to calculation_favorite_path(@calculation.id), method: :delete do %>
    <span style="color:red;">お気に入り済み♡︎</span>
  <% end %>
<% else %>
  <!--一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
  <%= link_to calculation_favorites_path(@calculation.id), method: :post do %>
    <span>お気に入りに登録する♡︎</span>
  <% end %>
<% end %>

<!--コメント投稿機能-->

<%= form_with model: @comment, url: calculation_comments_path(@calculation), local: false do |f| %>
 <%= f.text_area :content, rows:'5',placeholder: "Any comments on this post?", class:"form-control mt-3"  %>
   <div class="text-right">
    <%= f.submit "Submit", class: "btn btn-primary mt-3 mb-3" %>
   </div>
<% end %>
<!--コメント一覧機能-->

<% @active_comments.each do |comment| %>
<table class="table table-striped table-hover">
  <tr><%= comment.user.name %>
  <td>><%= comment.content %></td>
  <td class="text-right"><%= link_to "Delete", calculation_comment_path(comment.calculation, comment), method: :delete, remote: true, "data-confirm" => t('comments.create.delete_confirm'), class: "btn-sm btn-danger" %>
  </td>
  </tr>
  </table>
<% end %>

