<h1>Admin::Tags#index</h1>
<p>Find me in app/views/admin/tags/index.html.erb</p>


<div class="item-wrap row mb-5">
<% @tags.each do |tag| %>
  <div class="item shadow-sm col-md-4 p-3 my-3">
    <%= tag.name %>
    <%= link_to admin_tag_path(tag.id), method: :delete, remote: true, style: 'color: red;', 'data-confirm'=>'このタグを削除します' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>
<% end %>
</div>


<%= form_with(model: @tag, method: :post, url: admin_tags_path, local: false)  do |f| %>
  <div class="form-group">
    <%= f.label :name, 'タグ名', class: 'col-md-2' %>
    <%= f.text_field :name, autofocus: true, autocomplete: 'off', class: 'col-md-6', id: "name_text_field" %>
    <%= f.submit '追加', class: 'btn btn-sm btn-outline-info col-md-2 offset-1' %>
  </div>
<% end %>