<h1>Admin::Tags#index</h1>
<p>Find me in app/views/admin/tags/index.html.erb</p>




<%= form_with(model: @tag, method: :post, url: admin_tags_path) do |f| %>
  <div class="form-group">
    <%= f.label :tag_name, 'タグ名' %>
    <%= f.text_field :tag_name, autofocus: true, autocomplete: 'off' %>
    <%= f.submit '追加' %>
  </div>
<% end %>

<% @tags.each do |tag| %>
      <%= tag.tag_name %>
<% end %>
