<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h3 style="background-color: #17a2b8; color: white; font-weight: bold; padding: 5px;">ユーザー情報編集</h3>

     <%= form_with model: [:admin, @user] do |f| %>

        <div class="form-group">
          <label for="inputName">Name</label><br>
          <%= f.text_field :name, value: @user.name, autofocus: true, id:"inputName", class: "form-control", placeholder:"名前" %><br>
        </div>

        <div class="form-group">
          <label for="inputIntroduction">Introduction</label><br>
          <%= f.text_area :introduction, value: @user.introduction, autofocus: true, id:"inputIntroduction", class: "form-control", placeholder:"Introduction" %>
        </div>

        <div class="form-group">
          <label for="inputEmail">Email</label><br>
          <%= f.text_field :email, value: @user.email, autofocus: true, id:"inputEmail", class: "form-control", placeholder:"Email" %>
        </div>

         <div style="text-align: center;">
          <%= f.submit "編集",class:'btn btn-primary' %>
           <% end %>
        <%= link_to "戻る", admin_user_path, class: "btn btn-info"  %>
        </div>

         </div>
     </div>
  </div>
