<h1>Public::Users#edit</h1>
<p>Find me in app/views/public/users/edit.html.erb</p>

<h2>User info</h2>



<%= form_with model: @user do |f| %>
 <div class="formgroup">
  <label for="inputName">Name</label><br>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前",class:'text_field'%><br>
  </div>
  
  <div class="formgroup">
  <label for="inputIntroduction">Introduction</label><br>
  <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", placeholder:"Introduction",class:'text_area'%>
  </div>
  
   
  <div class="formgroup">
  <label for="email">Email</label><br>
  <%= f.text_area :email, autofocus: true, id:"email", placeholder:"email",class:'text_area'%>
  </div>
  
  <div class="formgroup">
  <%= f.submit "Update User",class:'updatebtn' %>
  </div>
<% end %>