<h1>Public::Users#show</h1>
<p>Find me in app/views/public/users/show.html.erb</p>


<h4><%= @user.name %></h4>
<% if @user == current_user && @user.name != "guestuser" %>
  <%= link_to "編集", edit_user_path(@user), class: 'editbtn' %>
<% end %>
<p><%= @user.introduction %></p>

<h3>投稿一覧</h3>
<% @calculations.each do |calculation| %>
  <p><%= link_to calculation.title, calculation %></p>
  <p><%= calculation.subtitle %></p>
<% end %>

<h3>いいねした投稿一覧</h3>

<% @favorites.each do |favorite| %>

  <p>タイトル: <%= link_to favorite.calculation.title ,calculation_path(favorite.calculation)  %></p>

  <p>投稿者: <%= link_to favorite.calculation.user.name , user_path(favorite.calculation.user) %></p>

<% end %>


<%= link_to "いいね一覧", calculation_favorites_path(@calculation.id) %>